@model IEnumerable<Ikea.Models.ViewModels.EmployeeViewModel>

@{
    ViewData["Title"] = "GetEmployees";
}

<h1>Employees</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessUnitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessUnitName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessUnitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessUnitName)
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="ExportExcel" asp-route-filter="0">Export Excel Report</a>
